#services {
  position: relative;
  width: 100%;
  height: 1024px;
}

.container {
  background: white;
  position: relative;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}

.header .title-box {
  position: absolute;
  top: 150px;
  left: 651px;
  background: rgba(172, 88, 88, 0.29);
  border-radius: 10px;
  padding: 15px 25px;
}

.title-text {
  font-family: Inter;
  font-size: 26px;
  font-weight: bold;
  color: rgba(172, 88, 88, 1);
}

.image-left {
  position: absolute;
  top: 250px;
  left: 11px;
  width: 620px;
  height: 537px;
  background: url(assets/images/3_1.png) no-repeat center/cover;
}

.text-section {
  position: absolute;
  left: 651px;
  top: 240px;
  width: 665px;
}
h1, h2 {
  margin: 0;
  padding: 0;
}
.main-title {
  font-size: 50px;
  font-family: Inter;
  font-weight: 300;
  margin-bottom: 0;
  padding: 0;
}

.sub-title {
  font-size: 50px;
  font-family: Inter;
  font-weight: 600;
  margin-top: 0;
  padding: 0;
}

.description {
  font-size: 24px;
  font-family: Inter;
  font-weight: 300;
  margin-top: 20px;
  color: black;
}

.service-cards {
  position: absolute;
  top: 519px;
  left: 651px;
  width: 542px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 260px;
  height: 160px;
  border: 2px solid #9b3d3d;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card-image.one {
  background: url(./assets/images/4_1.png) no-repeat center/cover;
}

.card-image.two {
  background: url(./assets/images/9.png) no-repeat center/cover;
}

.card-image.three {
  background: url(./assets/images/6.png) no-repeat center/cover;
}

.card-image.four {
  background: url(./assets/images/8.png) no-repeat center/cover;
}

.card-text {
  font-family: Inter;
  font-size: 22px;
  font-weight: bold;
}

.black-text {
  color: black;
}

.red-text {
  color: rgba(155, 61, 61, 1);
}

.decorative.ellipse-left {
  position: absolute;
  background: rgba(155, 61, 61, 0.49);
  width: 960px;
  height: 960px;
  border-radius: 50%;
  left: -199px;
  top: 767px;
}

.decorative.ellipse-right {
  position: absolute;
  background: rgba(155, 61, 61, 0.49);
  width: 960px;
  height: 960px;
  border-radius: 50%;
  left: 797px;
  top: 32px;
}
