.history-main {
  min-height: 100vh;
  background: #fff;
  padding: 54px 12px 32px 12px;
}
.history-title {
  font-family: "Outfit", sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 4px;
  margin-left: 300px;
}
.history-description {
  font-size: 1.04rem;
  color: #444;
  margin-bottom: 12px;
  margin-left: 300px;
}
.history-grid {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 24px;
}

.history-card {
  min-height: 140px;
  border-radius: 16px;
  background: #e5f3e9;
  box-shadow: 0 0 10px #eee;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.3em 1.25em;
}
.history-card.normal {
  background: #abebb6;
}
.history-card.high {
  background: #fac9c9;
}
.history-card.abnormal {
  background: #ffdb9c;
}

.history-icons {
  display: flex;
  gap: 0.65rem;
  margin-bottom: 6px;
}
.status-btn {
  margin-bottom: 0.85em;
  padding: 0.35em 1.3em;
  border-radius: 14px;
  font-size: 1.06rem;
  font-weight: 700;
  border: none;
  color: #fff;
  background: #4CAF50;
  display: inline-block;
}
.status-btn.normal {
  background: #26b559 !important;
  color: #fff;
}
.status-btn.high {
  background: #df6464 !important;
  color: #fff;
}
.status-btn.abnormal {
  background: #dbad3c !important;
  color: #fff;
}
.history-value {
  font-size: 1.12rem;
  font-weight: 600;
  margin-bottom: 4px;
  color: #312e2e;
}
.history-sub {
  font-size: 0.99rem;
  color: #575656;
}

@media (max-width: 1000px) {
  .history-grid { grid-template-columns: repeat(2,1fr);}
}
@media (max-width: 700px) {
  .history-grid { grid-template-columns: 1fr;}
  .history-card {
    align-items: center;
    text-align: center;
  }
}
