.homepage-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center; 
  position: relative;
  padding-top: 5rem; 
}

.bg-visuals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: 0;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  background-image: url('/2_1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  
  top: 20%;
  right: -2%;
  width: 45vw; 
  height: 60vh; 
  opacity: 1;
}

.decoration-circle {
  position: absolute;
  border-radius: 50%;
  border: 40px solid rgba(155, 61, 61, 0.15); 
  box-sizing: border-box;
}

.circle-1 {
  width: 60vw;
  height: 60vw;
  top: -20%;
  right: -20%;
  border-color: rgba(155, 61, 61, 0.2);
}

.circle-2 {
  width: 50vw;
  height: 50vw;
  top: 30%;
  right: -10%;
  border-color: rgba(155, 61, 61, 0.15);
}

.circle-3 {
  width: 40vw;
  height: 40vw;
  bottom: -30%;
  right: 25%;
  border-color: rgba(155, 61, 61, 0.1);
}

@media (max-width: 1024px) {
  .bg-image {
    width: 40vw;
    right: 0;
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .main-content {
    align-items: flex-start;
  }

  .bg-image {
    width: 80vw;
    height: 40vh;
    top: auto;
    bottom: 5%;
    right: -20%;
    opacity: 0.15; 
  }

  .decoration-circle {
    border-width: 20px;
  }
  
  .circle-1 { width: 90vw; height: 90vw; right: -40%; }
  .circle-2 { display: none; } 
  .circle-3 { width: 80vw; height: 80vw; bottom: -20%; right: -20%; }
}