.oxy-history-main {
  min-height: 100vh;
  background: #fff;
  padding: 54px 12px 32px 12px;
}
.oxy-history-title {
  font-family: "Outfit", sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 4px;
  margin-left: 300px;
}
.oxy-history-description {
  font-size: 1.04rem;
  color: #444;
  margin-bottom: 12px;
  margin-left: 300px;
}
.oxy-history-grid {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 24px;
}

.oxy-history-card2 {
  min-height: 140px;
  border-radius: 16px;
  background: #e5f3e9;
  box-shadow: 0 0 10px #eee;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.3em 1.25em;
}
.oxy-history-card2.normal {
  background: #c0ecc7;
}
.oxy-history-card2.high {
  background: #f7d1d1;
}
.oxy-history-card2.abnormal {
  background: #fde1af;
}

.oxy-history-icons {
  display: flex;
  gap: 0.65rem;
  margin-bottom: 6px;
}
.status-btn {
  margin-bottom: 0.85em;
  padding: 0.35em 1.3em;
  border-radius: 14px;
  font-size: 1.06rem;
  font-weight: 700;
  border: none;
  color: #fff;
  background: #4CAF50;
}
.status-btn.normal {
  background: #26b559;
}
.status-btn.high {
  background: #df6464;
}
.status-btn.abnormal {
  background: #dbad3c;
  color: #fff;
}
.oxy-history-value {
  font-size: 1.12rem;
  font-weight: 600;
  margin-bottom: 4px;
  color: #312e2e;
}
.oxy-history-sub {
  font-size: 0.99rem;
  color: #575656;
}

@media (max-width: 1000px) {
  .oxy-history-grid { grid-template-columns: repeat(2,1fr);}
}
@media (max-width: 700px) {
  .oxy-history-grid { grid-template-columns: 1fr;}
  .oxy-history-card2 {
    align-items: center;
    text-align: center;
  }
}
